<div class="column justify-content-center">
  <div class="mat-elevation-z6 data-table">
    <div id="tableContainer" class="table-responsive" style="text-align: center !important;">
      <table class="table table-hover table-dark table-striped shadow p-3 mb-5 rounded" id="coursesTable">

        <thead>
        <tr>
          <th> / </th>
          <th [attr.colspan]="getMeetingsForCourse(course)" scope="col" class="sortable" *ngFor="let course of courses">
            {{ course.name }}
          </th>
        </tr>
        <tr>
          <th scope="col" class="sortable">
            <span> Week # </span>
            <i class="fas fa-sort"> </i>
            <i class="fas fa-sort-up"> </i>
            <i class="fas fa-sort-down"> </i>
          </th>
          <th scope="col" class="sortable" *ngFor="let meeting of getMeetings()">
            <span> {{meeting.type}} </span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>
            {{appointment.name }}
          </td>
          <td *ngFor="let situation of getSituationsForAppointment(appointment)">
            <i *ngIf="situation.isPresent === true;" class="material-icons">check</i>
            <i *ngIf="situation.isPresent === false;" class="material-icons">close</i>
          </td>
        </tr>
        <tr style="padding-top: 30px; padding-bottom: 30px">
          <td> Total attendances</td>
          <td *ngFor="let meeting of getMeetings()">
            {{ getTotalAttendances(meeting) }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
