<div class="column justify-content-center">
  <div class="mat-elevation-z6 data-table">
    <div id="tableContainer" class="table-responsive" style="text-align: center !important;">
      <table class="table table-hover table-dark table-striped shadow p-3 mb-5 rounded" id="coursesTable">

        <thead>
        <tr class="first-row">
          <th> </th>
          <th [attr.colspan]="getMeetingCountForCourse(course)" scope="col" class="sortable"
              *ngFor="let course of courses">
            {{ course.name }}
          </th>
        </tr>
        <tr class="second-row">
          <th scope="col" class="sortable">
            <span> Week # </span>
            <i class="fas fa-sort"> </i>
            <i class="fas fa-sort-up"> </i>
            <i class="fas fa-sort-down"> </i>
          </th>
          <th scope="col" class="sortable" *ngFor="let meeting of meetings">
            <span> {{meeting.type}} </span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>
            {{appointment.name }}
          </td>
            <td *ngFor="let meeting of meetings">
              <div [ngSwitch]="getSituationFor(meeting,appointment)?.isPresent">
                <ng-template [ngSwitchCase]="true">
                  <i class="material-icons">check</i>
                </ng-template>
                <ng-template [ngSwitchCase]="false">
                  <i class="material-icons">close</i>
                </ng-template>
                <ng-template ngSwitchDefault>
                  <i class="material-icons">block</i>
                </ng-template>
              </div>
            </td>
        </tr>
        <tr>
          <td> Total attendances</td>
          <td *ngFor="let meeting of getMeetingsOrdered()">
            {{ getTotalAttendances(meeting) }} / {{ getRequiredAttendances(meeting) }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <i class="material-icons">check</i> Present <br>
  <i class="material-icons">close</i> Absent <br>
  <i class="material-icons">block</i> Not registered <br>
</div>
