
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

/deep/ html {
  height: 100%;
  box-sizing: border-box;
}

/deep/ body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

/deep/ a {
  background-color: transparent !important;
  color: black !important;

}

/deep/ .mat-stepper-horizontal, /deep/ .mat-stepper-vertical {
  background-color: whitesmoke;
}

.redirect {
  background-color: transparent;

}


.header-text {
  font-size: 26px;
  margin: 10px 30px 10px 30px;
}

.header-icon {
  font-size: 36px;
  margin: 10px 30px 10px 30px;
}

/deep/ .nav-link .btn .btn-default {
  margin: 0 10px 0 0 !important;
  cursor: pointer !important;
  font-size: 20px !important;
}

/deep/ *,
*:before,
*:after {
  box-sizing: inherit;
}

/deep/ #wrap {
  margin: 0 auto;
  width: 94%;
}

.academic-logo {
  height: 7vh;
}

/deep/ #main {
  overflow: hidden;
  padding-bottom: 50px;
  margin-top: 5em;
  min-width: 100%;
  width: 100%;
}

/deep/ nav {
  -webkit-box-shadow: 0 8px 6px -6px #000;
  -moz-box-shadow: 0 8px 6px -6px #000;
  box-shadow: 0 8px 6px -6px #000;
}

/deep/ .topnav-right {
  float: right;
}


.dropdown-menu {
  min-width: 5px !important;
  right: 0;
  left: auto;
  background: transparent;
  border-style: none;
}

/* Logo animation */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
