<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" routerLink="/" style="font-size: 36px;">
    <div style="animation: tracking-in-expand 1.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal both running;">
      <a href="https://www.ubbcluj.ro/"><img src="../assets/academic_logo.png" class="academic-logo"></a>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarsExampleDefault">
    <ul class="nav navbar-nav " style="margin-top: .5em;">
      <li>
        <a class="nav-link" tooltip="Home" data-placement="bottom" routerLink="home"><i class="material-icons"
                                                                                        style="font-size: 36px;margin: 3px 10px 0 20px;">home</i></a>
      </li>
      <li class="nav-item">

        <a class="nav-link" tooltip="User profile" data-placement="bottom" routerLink="user_profile"><i class="material-icons"
                                                                                                                                 style="font-size: 36px;margin: 3px 10px 0 20px ;">account_circle</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" *ngIf="!isUserLoggedIn()" style="font-size: 24px; margin: 3px 10px 0;"
           translate>Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" tooltip="Situations" data-placement="bottom" routerLink="courses"
           style="font-size: 24px; margin: 3px 10px 0;">My Courses</a>
      </li>
    </ul>

    <ul class="navbar nav ml-auto">
      <!--
      <li class="nav-item">
        <a (click)="initialize()" tooltip="Notifications" data-placement="bottom" tabindex="0" data-toggle="modal" data-target="#notificationsModal" class="nav-link"
           style="margin: 0 .7em 0 0;cursor: pointer; font-size: 26px; color: #420000" *ngIf="isUserLoggedIn()"><i
          class="fas fa-bell"></i><i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size: 12px; color: white; position: absolute; margin-bottom: 1.2em; margin-left: -.5em;" *ngIf="size() > 0"
        ></i></a>
      </li>
      -->
      <li class="dropdown">
        <a data-target="#" href="" data-toggle="dropdown" class="dropdown-toggle"
           style="margin: 0 10px 0 0;cursor: pointer; font-size: 20px; color: #420000" translate><span
          class="glyphicon glyphicon-globe"></span>Language<b class="caret"></b></a>
        <!--
        <ul class="dropdown-menu">
          <li><img src="../assets/romaniaFlag.png" (click)="useLanguage('ro')" height="36px"
                   style="cursor: pointer; position: sticky;"></li>
           <li><img src="../assets/usFlag.png" (click)="useLanguage('en')" height="36px"
                   style="cursor: pointer; position: sticky"></li>
        </ul>
        -->
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-default" style="margin: 0 10px 0 0;cursor: pointer; font-size: 20px; color: #420000"
           *ngIf="isUserLoggedIn()" (click)="logout()" translate><span class="glyphicon glyphicon-log-out"></span>Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div id="wrap" style="overflow: hidden">
  <main role="main" id="main" class="container clear-top">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer" style="background-color: #202020; margin-right: 50px">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col text-center">
          <span class="text-light" translate>FOOTER PLACEHOLDER</span>
        </div>
        <div class="col centerImage">
        </div>
      </div>
    </div>
  </footer>
</div>
