<div class="teacher-add-container">
  <h3 mat-dialog-title> Meeting configuration </h3>
  <div mat-dialog-content>
    <mat-list>

      <mat-list-item>
        <mat-form-field>
          <input matInput [(ngModel)]="data.meeting.type" placeholder="Meeting type...">
        </mat-form-field>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>

        <mat-form-field>
          <mat-select placeholder="Select occurrences" [(ngModel)]="data.appointments" multiple
                      (selectionChange)="refreshGrading()" [compareWith]="compare">
            <mat-option *ngFor="let appointment of this.data.possibleAppointments" [value]="appointment">
              {{ appointment.weekNumber }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div style="display: inline-block; margin-left: 15%">
          <mat-slide-toggle color="primary" (change)="toggleSeparateConfiguration($event)" style="display: inline" [checked]="data.hasSeparatedWeekConfigurations === true">
            Configure each week separately
          </mat-slide-toggle>
        </div>

      </mat-list-item>

      <mat-list-item>
        <mat-form-field>
          <mat-select placeholder="Select teachers" [(ngModel)]="data.meeting.teachers" multiple>
            <mat-option *ngFor="let teacher of data.possibleTeachers" [value]="teacher">
              {{ teacher.lastName + " " + teacher.firstName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>

      <mat-divider></mat-divider>

      <div *ngIf="data.hasSeparatedWeekConfigurations == false
      && data.appointments
      && data.meeting.teachers">

        <mat-list-item>
          <mat-form-field>
            <mat-select placeholder="Attendance requirement" [(ngModel)]="data.sharedAppointment.attendanceRequired">
              <mat-option [value]="true"> Attendance will be required</mat-option>
              <mat-option [value]="false"> Attendance will NOT be required</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <input matInput type="text" [disabled]="true"
                   placeholder="Grade percentage"
                   [(ngModel)]="data.sharedAppointment.gradePercentage">
          </mat-form-field>
          <div style="display: inline-block; margin-left: 15%">
            <mat-slide-toggle color="primary" (change)="toggleGrading($event,data.sharedAppointment)"
                              style="display: inline" checked="{{data.sharedAppointment.isGradable}}">
              Toggle grading for all weeks
            </mat-slide-toggle>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>
      </div>


      <mat-accordion *ngIf="data.hasSeparatedWeekConfigurations == true
      && data.appointments
      && data.meeting.teachers">

        <mat-expansion-panel *ngFor="let appointment of data.appointments">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Week {{ appointment.weekNumber }}

            </mat-panel-title>
            <mat-panel-description>
              <span *ngIf="appointment.weekNumber < 10" style="margin-right: 5px">&nbsp;</span>
              <span *ngIf="appointment.attendanceRequired == true"> [Attendance required] &nbsp; </span>
              <span *ngIf="appointment.isGradable == true"> [Gradable] &nbsp; </span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <mat-form-field style="display: inline">
            <mat-select placeholder="Attendance requirement" [(ngModel)]="appointment.attendanceRequired">
              <mat-option [value]="true"> Attendance will be required</mat-option>
              <mat-option [value]="false"> Attendance will NOT be required</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-divider></mat-divider>
          <mat-form-field>
            <input matInput type="number" [disabled]="appointment.isGradable === false"
                   [(ngModel)]="appointment.gradePercentage" placeholder="Grade percentage..."
                   (mouseup)="redistributePercentages(appointment)"
                   (keyup)="redistributePercentages(appointment)"
            >
          </mat-form-field>
          <div style="display: inline-block; margin-left: 15%">
            <mat-slide-toggle color="primary" (change)="toggleGrading($event,appointment)" style="display: inline"
                              checked="{{appointment.isGradable}}">
              Toggle grading for this week
            </mat-slide-toggle>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-divider></mat-divider>

    </mat-list>
  </div>
  <div mat-dialog-actions *ngIf="canSave()" style="display: inline-block">
    <button mat-raised-button [mat-dialog-close]="getData()">Save</button>
  </div>
  <div style="display: inline-block">
    <div class="error-container" *ngIf="totalPercentage > 100.1">
      <mat-icon>error</mat-icon>
      <span class="error-message">Error! Total percentage of the grades (currently: {{totalPercentage}}%) exceeds 100.1%!</span>
    </div>
    <div class="error-container" *ngIf="totalPercentage < 99.9">
      <mat-icon>error</mat-icon>
      <span class="error-message">Error! Total percentage of the grades (currently: {{totalPercentage}}%) is below 99.9%! </span>
    </div>
    <div mat-dialog-actions style="display: inline-block">
      <button mat-raised-button (click)="onCloseClick()">Close</button>
    </div>

  </div>
</div>
