



<div class="column justify-content-center" *ngIf="noColumns > 0">
  <div class="table-responsive">
    <table class="table table-hover table-dark table-striped shadow p-3 mb-5 rounded">
      <thead>
        <tr>
          <span *ngFor="let columnName of tableColumnNames">
            <th scope="col"> {{columnName}} </th>
          </span>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let columnsData of tableValues">
          <span *ngFor="let columnValue of columnsData">
            <td> {{columnValue}} </td>
          </span>
        </tr>

      </tbody>



    </table>


  </div>



</div>
