<div id="container-main" #scrollMe style="overflow: hidden;">
  <div class="parallax" #parallax style="z-index: 10; overflow-y: scroll; overflow-x: scroll">
    <div class="parallax__layer parallax__layer__0">
      <img src="https://sam.beckham.io/images/articles/firewatch/layer_0.png"/>
    </div>
    <div class="parallax__layer parallax__layer__1">
      <img src="https://sam.beckham.io/images/articles/firewatch/layer_1.png"/>
    </div>
    <div class="parallax__layer parallax__layer__2">
      <img src="https://sam.beckham.io/images/articles/firewatch/layer_2.png" class="responsive"/>
    </div>
    <div class="parallax__layer parallax__layer__3">
      <img src="https://sam.beckham.io/images/articles/firewatch/layer_3.png" class="responsive"/>
    </div>
    <div class="parallax__layer parallax__layer__4">
      <img src="https://sam.beckham.io/images/articles/firewatch/layer_4.png" class="responsive"/>
    </div>
    <div class="parallax__layer parallax__layer__5">
      <img src="https://sam.beckham.io/images/articles/firewatch/layer_5.png" class="responsive"/>
      <div class="logo-container">
        <img src="../assets/logo_UBB.png" class="ubb-logo">
      </div>
    </div>
    <div class="parallax__layer parallax__layer__6">
      <div class="login-container">

        <div class="limiter">
          <div class="container-login100">
            <div class="wrap-login100 p-t-190 p-b-30">
              <form class="login100-form validate-form" (ngSubmit)="submitForm()"
                    #formControl="ngForm">
                <div class="wrap-input100 validate-input m-b-10">
                  <input class="input100" type="text" id="inputUsername"
                         [ngClass]="{'input100-error': username.errors && username.touched}"
                         name="username" #username="ngModel"
                         minlength="5" pattern="[a-z0-9]+" required
                         [(ngModel)]="userModel.username"
                         placeholder="Username">
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
							      <i class="fa fa-user"></i>
						      </span>
                </div>
                <div class="error-location">
                  <div *ngIf="username.touched === true">
                    <div class="errorLabel" *ngIf="username?.errors && username?.errors['required']">
                      {{ 'Username is required' | translate }}
                    </div>
                    <div class="errorLabel" *ngIf="username?.errors && username?.errors['minlength']">
                      {{ 'Username must have a minimum length of 5 characters' | translate }}
                    </div>
                    <div class="errorLabel" *ngIf="username?.errors && username?.errors['pattern']">
                      {{ 'Username can contain only alphanumerical characters' | translate }}
                    </div>
                  </div>
                </div>

                <div class="wrap-input100 validate-input m-b-10">
                  <input class="input100" type="password" id="inputPassword"
                         [ngClass]="{'input100-error': password.errors?.required && password.touched}"
                         name="password" #password="ngModel"
                         required
                         [(ngModel)]="userModel.password"
                         placeholder=" {{ 'Password' | translate }}">
                  <span *ngIf="password.touched">
                    <div class="errorLabel" *ngIf="password?.errors && password?.errors['required']">
                      {{ 'Password is required' | translate }}
                    </div>
                  </span>
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
                </div>
                <div class="container-login100-form-btn p-t-10">
                  <button class="login100-form-btn" [disabled]="formControl.invalid">
                    {{ 'Login' | translate }}
                  </button>
                </div>

                <div class="container-login100-form-btn p-t-10" style="margin-top: 5%">
                  <re-captcha required
                              [(ngModel)]="recaptchaResponse"
                              name="captcha"
                              (resolved)="resolved($event)" siteKey="6LdwLWsUAAAAALRUJUOLuIzx7IjhZddT-6P55787">
                  </re-captcha>
                </div>
                <span class="informations">
                <app-communication
                  [errors]="[errorMessage]"
                  [warnings]="[failedLoginWarning]"
                  [informations]="[usernameInformation,passwordInformation]"
                ></app-communication>
                  </span>
              </form>
            </div>
          </div>
        </div>
      </div>
      <img src="https://sam.beckham.io/images/articles/firewatch/layer_6.png" class="responsive"/>
    </div>

    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>
    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>
    <div class="bird-container bird-container--three">
      <div class="bird bird--three"></div>
    </div>
    <div class="bird-container bird-container--four">
      <div class="bird bird--four"></div>
    </div>

    <div class="parallax__cover">
    </div>
  </div>
</div>

