<div class="stepper-box">
  <form [formGroup]="addCourseFormGroup">
    <mat-horizontal-stepper #stepper [linear]="true" formArrayName="formArray">

      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
        <ng-template matStepLabel>Name</ng-template>
        <mat-form-field class="stepper-form">
          <mat-label>Course name</mat-label>
          <input matInput formControlName="nameCtrl" placeholder="Course name...">
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <div class="button-stepper-row">
          <button mat-raised-button matStepperNext color="basic" [disabled]=" ! nameCtrl.value">Next</button>
        </div>
      </mat-step>

      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
        <ng-template matStepLabel>Type</ng-template>
        <mat-form-field class="stepper-form">
          <mat-label>Type of course</mat-label>
          <mat-select placeholder="Course type..." formControlName="isOptionalCtrl">
            <mat-option value="false"> Default</mat-option>
            <mat-option value="true"> Optional</mat-option>
          </mat-select>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <div class="button-stepper-row">
          <button mat-raised-button matStepperNext color="basic" [disabled]=" ! isOptionalCtrl.value">Next</button>
          <button mat-raised-button matStepperPrevious color="warn">Back</button>
        </div>
      </mat-step>

      <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
        <ng-template matStepLabel>Holder</ng-template>
        <mat-form-field class="stepper-form">
          <mat-label>Assigned professor</mat-label>
          <mat-select placeholder="Professor..." formControlName="teacherCtrl">
            <mat-option *ngFor="let teacher of teachers" [value]="teacher">
              {{ teacher.lastName + " " + teacher.firstName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-stepper-row">
          <button mat-raised-button matStepperNext color="basic" [disabled]=" ! teacherCtrl.value">Next</button>
          <button mat-raised-button matStepperPrevious color="warn">Back</button>
        </div>
      </mat-step>

      <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
        <ng-template matStepLabel>Meetings</ng-template>
        <mat-form-field class="stepper-form">
          <mat-label>Number of meetings</mat-label>
          <input matInput type="number" formControlName="meetingNoCtrl" placeholder="Choose the number of meetings"
                 (keyup)="showMeetingsControl()" max="50">
          <mat-error> Value must be below 30</mat-error>
        </mat-form-field>
        <div class="button-stepper-row">
          <button mat-raised-button matStepperNext color="basic" [disabled]=" ! isSubjectComplete()">Save</button>
          <button mat-raised-button matStepperPrevious color="warn">Back</button>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </form>
</div>

<div class="meeting-container" *ngIf="displayMeetingsControl === true">
  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile class="meeting-box" *ngFor="let meeting of meetings">
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title [style.color]="meeting.type != null ? 'lightgreen' : 'black' ">
              Meeting type
            </mat-panel-title>
            <mat-panel-description *ngIf="meeting.type == null">
              The type of the meeting (seminary, laboratory, exam... )
            </mat-panel-description>
            <mat-panel-description *ngIf="meeting.type != null">
              {{ meeting.type }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="meeting.type" placeholder="Meeting type..." required>
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title [style.color]="meeting.attendanceRequired != null ? 'lightgreen' : 'black' ">
              Attendance required
            </mat-panel-title>
            <mat-panel-description *ngIf="meeting.attendanceRequired == null">
              The requirement for the attendance
            </mat-panel-description>
            <mat-panel-description *ngIf="meeting.attendanceRequired != null">
              Attendance &nbsp; <span *ngIf="meeting.attendanceRequired == false">not &nbsp;</span> required
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field appearance="outline">
            <mat-label>Attendance required</mat-label>
            <mat-select placeholder="Attendance required? " [(ngModel)]="meeting.attendanceRequired" required>
              <mat-option *ngFor="let o of [{display: 'Yes', value: true},
              {display: 'No', value: false}]" [value]="o.value"> {{o.display}} </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>


        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title [style.color]="meeting.teachers != null ? 'lightgreen' : 'black' ">
              Assigned professors
            </mat-panel-title>
            <mat-panel-description *ngIf="meeting.teachers == null">
              Professors responsible for holding the meeting
            </mat-panel-description>
            <mat-panel-description *ngIf="meeting.teachers != null">
              You have assigned {{ meeting.teachers.length }} professors
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field appearance="outline">
            <mat-label>Assigned teachers</mat-label>
            <mat-select placeholder="Professors..." [(ngModel)]="meeting.teachers" multiple>
              <mat-option *ngFor="let teacher of teachers" [value]="teacher">
                {{ teacher.lastName + " " + teacher.firstName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>


      </mat-accordion>
    </mat-grid-tile>
  </mat-grid-list>
</div>
