
<table mat-table [dataSource]="situations" class="mat-elevation-z8">


  <ng-container matColumnDef="student_name">
    <th mat-header-cell *matHeaderCellDef> Student name</th>
    <td mat-cell *matCellDef="let situation"> {{ situation.student.user.lastName + ' ' +situation.student.user.firstName
      }}
    </td>
  </ng-container>

  <ng-container matColumnDef="is_present">
    <th mat-header-cell *matHeaderCellDef> Present</th>
    <td mat-cell *matCellDef="let situation">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="situation.isPresent = situation.isPresent!==true"
                    [checked]="selection.isSelected(situation)"
                    [disabled]="editable === false"
      >
      </mat-checkbox>
    </td>

  </ng-container>

  <ng-container matColumnDef="grade">
    <th mat-header-cell *matHeaderCellDef> Grade</th>
    <td mat-cell *matCellDef="let situation">
      <form *ngIf="editable === true">

        <mat-form-field class="example-full-width">
          <input matInput [formControl]="fc[getIndexForSituation(situation)]"
                 (change)="situation.grade = fc[getIndexForSituation(situation)].value"
          >
          <mat-hint>Between 0 and 10!</mat-hint>

          <mat-error *ngIf="fc[getIndexForSituation(situation)].hasError('required')">
            Grade is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <div *ngIf="editable === false">
        {{ situation.grade }}
      </div>
    </td>
  </ng-container>

  <tr mat-header-row class="custom-table-header" *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row class="custom-table-row" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
