<div class="teacher-add-course-container">
  <div class="stepper-box">
    <form [formGroup]="addSubjectFormGroup">
      <mat-horizontal-stepper #stepper [linear]="false" formArrayName="formArray">

        <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
          <ng-template matStepLabel>Name</ng-template>
          <mat-form-field class="stepper-form">
            <mat-label>Course name</mat-label>
            <input matInput formControlName="nameCtrl" placeholder="Course name...">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <div class="button-stepper-row">
            <button mat-raised-button matStepperNext color="basic" [disabled]=" ! nameCtrl.value">Next</button>
          </div>
        </mat-step>

        <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
          <ng-template matStepLabel>Type</ng-template>
          <mat-form-field class="stepper-form">
            <mat-label>Type of course</mat-label>
            <mat-select placeholder="Course type..." formControlName="isOptionalCtrl">
              <mat-option value="false"> Default</mat-option>
              <mat-option value="true"> Optional</mat-option>
            </mat-select>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <div class="button-stepper-row">
            <button mat-raised-button matStepperNext color="basic" [disabled]=" ! isOptionalCtrl.value">Next</button>
            <button mat-raised-button matStepperPrevious color="warn">Back</button>
          </div>
        </mat-step>

        <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
          <ng-template matStepLabel>Holder</ng-template>
          <mat-form-field class="stepper-form">
            <mat-label>Assigned professor</mat-label>
            <mat-select placeholder="Professor..." formControlName="teacherCtrl">
              <mat-option *ngFor="let teacher of teachers" [value]="teacher">
                {{ teacher.lastName + " " + teacher.firstName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="button-stepper-row">
            <button mat-raised-button matStepperNext color="basic" [disabled]=" ! teacherCtrl.value">Next</button>
            <button mat-raised-button matStepperPrevious color="warn">Back</button>
          </div>
        </mat-step>

        <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
          <ng-template matStepLabel>Meetings</ng-template>
          <button mat-raised-button color="basic" (click)="createMeeting()">Add meeting</button>

          <div class="button-stepper-row">
            <button mat-raised-button matStepperNext color="basic" [disabled]=" ! isSubjectComplete()"
                    (click)="saveSubject()">Save
            </button>
            <button mat-raised-button matStepperPrevious color="warn">Back</button>
          </div>

          <div class="meeting-list" *ngFor="let meetingForm of meetingComplexForms">
            <div  *ngIf="isComplete(meetingForm) == false">
              <button class="incomplete-meeting" mat-raised-button color="basic" (click)="editMeeting(meetingForm)">
                Meeting (incomplete)
              </button>
            </div>

            <div *ngIf="isComplete(meetingForm) == true">
              <button class="complete-meeting"mat-raised-button color="basic" (click)="editMeeting(meetingForm)">
                {{subject.name}} {{meetingForm.result.meeting.type}}
              </button>
            </div>
          </div>

        </mat-step>

      </mat-horizontal-stepper>
    </form>
  </div>

</div>
